*~
tutorial/*
image-dired/*
/ido.last
emojis/*
elpa/*
/ac-comphist.dat
.python-environments/*
/.mc-lists.el
/helm-adaptive-history
/projectile-bookmarks.eld
/recentf
/url/cookies
init.elc
.cache
.cask
.dap-breakpoints
eclipse.jdt.ls
eshell
games
workspace
request
transient
